@import 'node_modules/flatpickr/dist/flatpickr';
@import 'node_modules/flatpickr/dist/themes/light';


body {
  margin: 0 auto;
  background: $true-white;
}

#app{
  flex: 1 0 auto;
  letter-spacing: .03125rem;
  background-color: $true-white;
  min-height: 40rem;
  color: $default-black;
  font-size: 0.9rem;
}
.page-container{
  height: 100vh;
}
.card{
  box-shadow:none;
}

h1{
  font-size:1rem;
}
h3{
  font-size:1.4rem;
  font-weight: 400;
}
h5{
  font-size:1rem;
  font-weight: 400;
}

.hidden{
  visibility: hidden;
}
