.active {
    pointer-events: none;
    opacity: 0.6;
    border-bottom: solid black 2px;
}
.sectionDiv {
    display: inline-block;
    border-right: 1px solid black;
    padding-left: 0.5rem;
    cursor: pointer;
}